/* General styles */

body {
    background-color: white;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: rgb(40, 40, 40);
    align-items: center;
}

/* Heading */

#head {
    margin: 5px;
}

.logo {
    padding-top: 1rem;
}

/* Username input */
#username-input {
    padding: 1rem;
}

/* Game area */

.game-area {
    width: 75%;
    background-color: orange;
    box-sizing: border-box;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}

.gamechoice {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

/* Set score area style */
.score-area {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

/* General button style */
.btn {
    width: 150px;
    height: 60px;
    border-radius: 10px;
    margin: 2%;
    font-weight: 700;
}

.btn-small {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    margin: 2%;
    font-weight: 700;
    background-color: black;
    color: white;
}

/* Set color for different game types */
.coin {
    background-color: rgb(0, 192, 0);
    color: black;
    font-size: 200%;
}

.dice {
    background-color: red;
    color: black;
    font-size: 200%;
}

/* Center placeholder text */
::placeholder {
    text-align: center;
}

#guess-number {
    padding: 1%;
    width: 5rem;
}

/* Submit button style */
.btn-submit {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(40, 40, 40);
    color: orange;
}

.scores {
    padding: 5px;
    border: 5px;
    border-radius: 5px;
    background-color: rgb(40, 40, 40);
    color: orange;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table,
th {
    border: 1px solid black;
}

tr:hover {
    background-color: white;
}

.hide {
    display: none;
}

.modal {
    height: 100px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    z-index: 99;
}
.modal p {
    margin: 1rem;
}

/* Meadia query for small screens */
@media (max-width: 400px) {
    .logo {
        width: 75%;
    }

    .btn-small {
        width: 100px;
        height: 2rem;
    }

    .game-area {
        padding: 5%;
    }
}

/* Meadia query for small screens */
@media (max-width: 480px) {
    .gamechoice {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
    }
}

/* Media query for medium screens */
@media (min-width: 700px) {
    #head {
        font-size: 250%;
    }

    #username-input {
        font-size: 200%;
    }

    #username {
        font-size: 35%;
    }
}

/* Media query for big screens */
@media (min-width: 1000px) {
    body {
        font-size: 125%;
    }

    .modal {
        height: 100px;        
    }

    #head {
        font-size: 300%;
    }

    .btn {
        width: 200px;
        height: 80px;
    }
}

@media (min-width: 1500px) {
    body {
        font-size: 150%;
    }

    .modal {
        height: 100px;        
    }

    #head {
        font-size: 350%;
    }

    .gamechoice {
        display: flex;
        justify-content: space-between;
    }

    .game-info {
        position: relative;
        margin-top: -170px;
    }

    .btn {
        width: 300px;
        height: 120px;
    }
}

@media (min-width: 1850px) {
    .btn {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

/* Media query for height adjustment */
@media (max-height: 900px) {
    .logo {
        padding-top: 0.5rem;
    }
}

@media (max-height: 700px) {
    .logo {
        width: 60%;
    }
}